<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{titulo}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 content-center">
            <a href="">
              <img ng-src="{{imagen}}">
            </a>
          </div>
          <div class="col-xs-12 content-center content-movie-data">
            <a href="">
              <span class="label label-primary">{{genero}}</span>
            </a>
            <a href="">
              <span class="label label-primary">
                <span class="flag-icon"></span>
                {{pais}}
              </span>
            </a>
            <span class="label label-duracion">{{duracion}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
