<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">¿Qué Culpa Tiene el Niño?</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 content-center">
            <a href="">
              <img ng-src="https://static.cinemex.com/movie_posters/6pqPdE6CDxLiiUa-182x272.jpg">
            </a>
          </div>
          <div class="col-xs-12 content-center content-movie-data">
            <a href="">
              <span class="label label-primary">Comedia</span>
            </a>
            <a href="">
              <span class="label label-primary">
                <span class="flag-icon"></span>
                Mexico
              </span>
            </a>
            <span class="label label-duracion">95 min</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">¿Qué Culpa Tiene el Niño?</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 content-center">
            <a href="">
              <img ng-src="https://static.cinemex.com/movie_posters/6pqPdE6CDxLiiUa-182x272.jpg">
            </a>
          </div>
          <div class="col-xs-12 content-center content-movie-data">
            <a href="">
              <span class="label label-primary">Comedia</span>
            </a>
            <a href="">
              <span class="label label-primary">
                <span class="flag-icon"></span>
                Mexico
              </span>
            </a>
            <span class="label label-duracion">95 min</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">¿Qué Culpa Tiene el Niño?</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 content-center">
            <a href="">
              <img ng-src="https://static.cinemex.com/movie_posters/6pqPdE6CDxLiiUa-182x272.jpg">
            </a>
          </div>
          <div class="col-xs-12 content-center content-movie-data">
            <a href="">
              <span class="label label-primary">Comedia</span>
            </a>
            <a href="">
              <span class="label label-primary">
                <span class="flag-icon"></span>
                Mexico
              </span>
            </a>
            <span class="label label-duracion">95 min</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">¿Qué Culpa Tiene el Niño?</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 content-center">
            <a href="">
              <img ng-src="https://static.cinemex.com/movie_posters/6pqPdE6CDxLiiUa-182x272.jpg">
            </a>
          </div>
          <div class="col-xs-12 content-center content-movie-data">
            <a href="">
              <span class="label label-primary">Comedia</span>
            </a>
            <a href="">
              <span class="label label-primary">
                <span class="flag-icon"></span>
                Mexico
              </span>
            </a>
            <span class="label label-duracion">95 min</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
